<form class="col-3" #loginForm="ngForm">
  <h3>Login:</h3>
  <div class="form-group">
    <label for="username">Username:</label>
    <input [(ngModel)]="user.username" type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
  </div>
  <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary" (click)='login()'>Login</button>
  <div>
    <span *ngIf='loginError'>{{ loginError }} </span>
  </div>
</form>